.projekt-item {
    list-style: none;
    max-width: 100%;
    min-height: 70%;
  margin-bottom: 1rem;
    
  }
  
  .projekt-item__content {
    padding: 0;
  }
  

  .card-title {
    display: flex;
    justify-content: space-around;
    padding: 0;
    background-color: white;
    border-bottom: none;

  }
  .card-info {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    padding: 0;
    background-color: white;
    border-bottom: none;

  }
  .card-secondTitle {
    display: flex;
    justify-content: flex-start;
    font-size: 10px;
    padding: 0;
    background-color: white;
    border-bottom: none;

  }
  .card-description {
    display: flex;
    justify-content: flex-start;
    font-size: 1rem;
    padding: 0;
    background-color: white;
    border-bottom: none;

  }
  .projekt-item__image {
    width: 90%;
    margin: 2.5rem auto;
    border: black solid 2px;
  }

.projekt-item__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .projekt-item__info h2,
  .projekt-item__info h3,
  .projekt-item__info p {
    margin: 0 0 0.5rem 0;
  }
  
  .projekt-item__actions {
    padding: 1rem;
    text-align: center;
    border-top: 1px solid #ccc;
  }
  
  .projekt-item__modal-content {
    padding: 0;
  }
  
  .projekt-item__modal-actions {
    text-align: right;
  }
  
  .projekt-item__actions button,
  .projekt-item__actions a {
    margin: 0.5rem;
  }


  
  @media (min-width: 300px) {
    .projekt-item {
      list-style: none;
      width: 60rem;

    }
    .projekt-item__image {
      width: 45rem;
      height: 20rem;
    } 
  }

@media (min-width: 600px) {
  .projekt-item {
    list-style: none;
    width: 60rem;

  }
  .projekt-item__image {
    width: 45rem;
    height: 40rem;
  }
}

@media (min-width: 1000px) {
  .projekt-item {
    list-style: none;
    width: 60rem;

  }
  .projekt-item__image {
    width: 45rem;
    height: 40rem;
  }
}

@media (min-width: 1200px) {
  .projekt-item {
    list-style: none;
    width: 60rem;

  }
  .projekt-item__image {
    width: 45rem;
    height: 40rem;
  }
}

