.Jornalist-item{
  list-style: none;
  max-width: 100%;
  min-height: auto;
  margin-bottom: 1rem;
}

.externalLink{
  margin: 2%;
  color: black;
}

.externalLink:hover{
  color: #c1558b;
}

.Jornalist-item__actions {
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #ccc;
}

.Jornalist-item__modal-content {
  padding: 0;
}

.Jornalist-item__modal-actions {
  text-align: right;
}

.Jornalist-item__actions button,
.Jornalist-item__actions a {
  margin: 0.5rem;
}



@media (min-width: 300px) {
  .Jornalist-item {

  }
}

@media (min-width: 600px) {
  .Jornalist-item {
    width: 50rem;
  }
}

@media (min-width: 1000px) {
  .Jornalist-item {
    width: 50rem;
  }

}

@media (min-width: 1200px) {
  .Jornalist-item {

  }
}

.Jornalist-card {
  margin: auto;
  max-width: 90%;
  height: auto;
}

.description {
  font-size: 1.5rem !important;

}
.p-info {
  font-size: 1rem !important;
}
.Jornalist-card-title{
  background-color: black !important;
  color: white !important;
  margin-top: 10px;
  padding: 5px;
}
@media screen and (max-width: 420px) {
  .Jornalist-card-title{
    font-size: 1rem !important;
  }
  .description {
    font-size: 1.2rem !important;

  }
}

