.events-header {
    background-color:#090909;
    font-size: calc(10px + 2vmin);
    color: white;
}

.events-main {
    min-height: 95vh;
}

.events-footer {
    min-height: 5vh;
}

.events-main-List {
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin: auto !important;
    margin-top: auto!important;
}