.social-icons{
  display: flex;
  justify-content: space-between;
    text-align: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
  }
 
  .fb{
    margin: 2%;
    color: black;
  }

  .fb:hover{
    color: #386ddd;
  }

  .git{
    margin: 2%;
    color: black;
  }

  .git:hover{
    color: #16fa01;
  }

  .tiktok{
    margin: 2%;
    color: black;
  }

  .tiktok:hover{
    color: #626161;
  }

  .insta{
    margin: 2%;
    color: black;
  }

  .insta:hover{
    color: #c1558b;
  }

  .linkedin{
    margin: 2%;
    color: black;
  }
  
  .linkedin:hover{
    color: #0e76a8;
  }

@media screen and (max-width: 600px) {
  .fa-2x {
    font-size: 1.5em !important;
  }
}
